#/etc/rabbitmq/enabled_plugins = location of file in image
#
services:
  
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ${PWD}/tmp/redis:/data

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    ports:
      - "5540:5540"
    volumes:
      - ${PWD}/tmp/redisinsight:/data

networks:
  default:
    driver: bridge