#/etc/rabbitmq/enabled_plugins = location of file in image
#
services:
  rabbitmq:
    build:
      context: .
      dockerfile: rabbitmq/Dockerfile
      args:
        DELAYED_PLUGIN_VERSION: "4.2.0"
    container_name: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    configs:
      - source: plugins
        target: /etc/rabbitmq/enabled_plugins
    ports:
      - "5672:5672"
      - "15672:15672"

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    ports:
      - "5540:5540"
    volumes:
      - redisinsight_data:/data

configs:
  plugins:
    content: "[rabbitmq_management, rabbitmq_mqtt, rabbitmq_delayed_message_exchange]."  

volumes:
  redis_data:
  redisinsight_data:

networks:
  default:
    driver: bridge