{:env #or [#env ENV :dev]

 :local #include "grand-central/.secrets.edn"

 :xtdb-config {:log [:local
                     {:path "./tmp/mm/log"}]}

 :job-runner {:redis {:url "redis://localhost:6379"
                      :pool-opts {:max-total-per-key 10
                                  :max-idle-per-key  10
                                  :min-idle-per-key  2}}
              :workers [{:scheduler-polling-interval-sec 15
                         :worker-opts {:queue "default"
                                       :threads 5
                                       :graceful-shutdown-sec 30}}

                        {:scheduler-polling-interval-sec 15
                         :worker-opts {:queue "light-process"
                                       :threads 5
                                       :graceful-shutdown-sec 30}}

                        {:scheduler-polling-interval-sec 15
                         :worker-opts {:queue "heavy-process"
                                       :threads 1
                                       :graceful-shutdown-sec 30}}]}}
