{:env #or [#env ENV :dev]

 :local #include "grand-central/.secrets.edn"

 :xtdb-config {:log [:local
                     {:path "./tmp/mm/log"}]}

 :job-runner {:redis {:url "redis://localhost:6379"
                      :pool-opts nil}
              :workers [{:queue "default" :threads 5 :graceful-shutdown-sec 30}
                        {:queue "light-process" :threads 5 :graceful-shutdown-sec 30}
                        {:queue "heavy-process" :threads 1 :graceful-shutdown-sec 30}]}}
